@import url(./styles.css);
body {
  padding: 30px;
}
section {
  margin-bottom: 20px;
}

.form {
  width: 360px;
}
.form,
.form-label {
  display: flex;
  flex-direction: column;
}
.form,
.form-label > input,
fieldset {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #2e2f42;
}
.form-label {
  margin-bottom: 30px;
}
.form-label > input {
  min-width: 300px;
  min-height: 40px;
  margin-top: 8px;
  padding: 0px 16px;
  outline: none;
  cursor: pointer;
}
.form-label > input:hover,
fieldset:hover {
  border: 1px solid #000;
}
.form-label > input:focus {
  border: 1px solid #4e75ff;
}
fieldset {
  margin-bottom: 24px;
}
.form-label > input,
fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
}
label > input {
  cursor: pointer;
}
.fieldset-form {
  display: flex;
  justify-content: center;
  gap: 48px;
}
button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #6c8cff;
}
